* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
/* body,
html {
  height: 100%;
  background-repeat: repeat-x;
} */
body {
  font-family: "Verdana", sans-serif;
  background: linear-gradient(to top, rgb(0, 0, 0.5, 0.8), rgb(0, 0, 0.5, 0.8));
  background-image: url(images/glamorLogo.png);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(140, 140, 163, 0.5);
}
.logo {
  color: greenyellow;
  padding: 10px;
  padding-left: 20px;
  font-size: 30px;
  font-family: Arial;
}
.hearder__options {
  position: absolute;
  float: left;
  right: 0;
  justify-content: flex-end;
  align-content: space-between;
}
ul {
  list-style-type: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul li {
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
}
ul li a:hover {
  color: yellow;
}

.welcome__page {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  height: 550px;
}
.company__intro {
  background: linear-gradient(
    to right,
    rgba(36, 42, 164, 0.5),
    rgb(248, 248, 248, 0.6)
  );
}

.heading__titles {
  padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company__motivation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.branches__location {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
}

.sign__register {
  background-color: pink;
  background: linear-gradient(
    to left,
    rgba(36, 42, 164, 0.5),
    rgb(255, 192, 203, 0.6)
  );
  position: relative;
  width: 320px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email {
  margin-bottom: 30px;
  height: 20px;
}
.password {
  margin-bottom: 30px;
  height: 20px;
}
.singin__button {
  margin-top: 50px;
  height: 40px;
  width: 180px;
  color: #000;
}

* p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

/* h1 {
  color: pink;
  text-align: center;
} */
/* h2 {
  color: yellow;
  font-style: italic;
  text-align: center;
} */
/* h3 {
  color: blue;
  text-align: center;
  font-size: bold;
}
h4 {
  color: red;
  text-align: center;
  font-size: bold;
}
h5 {
  color: green;
  text-align: center;
} */

img {
  border: 4px solid greenyellow;
  border-radius: 8px;
}
.product {
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}
p {
  font-style: italic;
  text-align: center;
}
